{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.lista_create'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.lista_create'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary"/>
    </div>
    <div class="centered-container">
        <a class="create" href="{{ url('lista_index') }}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'Powrót'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}