{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.lista_details'|trans({'%id%': lista.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.lista_details'|trans({'%id%': lista.id|default('')}) }}</h1>
    {% if lista is defined and lista|length %}
        <dl class="dl-horizontal task-details">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ lista.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ lista.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ lista.updatedAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ lista.title }}</dd>
        </dl>
        <div class="centered-container">
            <a class="create" href="{{ url('lista_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'Powrót'|trans }}
            </a>
        </div>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}