{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.task_create'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.task_create'|trans }}</h1>
    {{ form_start(form, {'attr': {'class': 'custom-form'}}) }}
    {{ form_widget(form, {'attr': {'class': 'custom-input'}}) }}

    <div class="form-group form-group-right">
        <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-primary"/>
    </div>
    <div class="centered-container">
        <a class="create" href="{{ url('task_index') }}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'Powrót'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}