{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.tasklist_delete'|trans({'%id%': tasklist.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.tasklist_delete'|trans({'%id%': tasklist.id|default('')}) }}</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="centered-container">
        <input type="submit" value="{{ 'action.delete'|trans }}" class="btn btn-primary" />
    </div>
    <div class="centered-container">
        <a class="create" href="{{ url('tasklist_index') }}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'Powrót'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
