{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <h1>Edit Your Profile</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <a href="{{ url('home_index') }}">
    <button class="btn">Zapisz</button>
    </a>
    {{ form_end(form) }}
    <div class="centered-container">
    <a class="create" href="{{ url('home_index') }}" title="{{ 'action.back_to_list'|trans }}">
        {{ 'Strona główna'|trans }}
    </a>
    </div>
{% endblock %}